
h1 {
    color: #ffffff;
    font-size:xx-large;
    text-align: center;
    color: white;
    font-size: 3em;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;

}

#section1 {
    
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 0px solid #ccc;
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%);
    }


    h1:hover {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                    0 3px 0 #ccc, 0 4px 0 #ccc,
                    0 5px 0 #ccc, 0 6px 0 #ccc,
                    0 7px 0 #ccc, 0 8px 0 #ccc,
                    0 9px 0 #ccc, 0 10px 0 #ccc,
                    0 11px 0 #ccc, 0 12px 0 #ccc,
                    0 20px 30px rgba(0, 0, 0, 0.5);
    }




    #github svg {
        transition: all 1s;
        fill: #222;
        color: #ffffff;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
        width: 80px;
        height: 80px;
    }
    #github:hover svg {
        width: 160px;
        height: 160px;
    }
