@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1659168450474') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Ubuntu:before {
  content: "\ea41";
}

.icon-debian:before {
  content: "\eb74";
}

.icon-synology:before {
  content: "\ecd3";
}

.icon-microsoft:before {
  content: "\e60b";
}

