h1 {
    text-align: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.marker {
    width: 200px;
    height: 25px;
    margin: 10px auto;
}

.cap {
    width: 60px;
    height: 25px;
}

/* 
border-left 左边框
基础语法：
border-left: 宽度 样式 颜色;

1.宽度的值：
thin	定义细的左边框。
medium	默认值。定义中等的左边框。
thick	定义粗的左边框。
length	允许您自定义左边框的宽度。
inherit	规定应该从父元素继承边框宽度。

2.样式的值：
none	定义无边框。
hidden	与 "none" 相同。不过应用于表时除外，对于表，hidden 用于解决边框冲突。
dotted	定义点状边框。在大多数浏览器中呈现为实线。
dashed	定义虚线。在大多数浏览器中呈现为实线。
solid	定义实线。
double	定义双线。双线的宽度等于 border-width 的值。
groove	定义 3D 凹槽边框。其效果取决于 border-color 的值。
ridge	定义 3D 垄状边框。其效果取决于 border-color 的值。
inset	定义 3D inset 边框。其效果取决于 border-color 的值。
outset	定义 3D outset 边框。其效果取决于 border-color 的值。
inherit	规定应该从父元素继承边框样式。

*/
.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    border-left: 10px double rgba(0, 0, 0, 0.75);
}

/* 
display: inline-block 定义为行内块元素
使其显示按照块元素，后面的内联元素会显示在同一行
*/
.cap, .sleeve {
    display: inline-block;
}

/*
box-shadow  向框添加一个或多个阴影
属性：
h-shadow	必需。水平阴影的位置。允许负值
v-shadow	必需。垂直阴影的位置。允许负值
blur	可选。模糊距离
spread	可选。阴影的尺寸
color	可选。阴影的颜色。请参阅 CSS 颜色值
inset	可选。将外部阴影 (outset) 改为内部阴影

三个值时： 水平阴影 垂直阴影 阴影颜色
四个值时： 水平阴影 垂直阴影 模糊距离 阴影颜色
五个值时： 水平阴影 垂直阴影 模糊距离 阴影尺寸 阴影颜色
六个值时： 水平阴影 垂直阴影 模糊距离 阴影尺寸 阴影颜色 inset

*/
.red {
    background: linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}

.green {
    background: linear-gradient(#55680D, #71F53E, #116C31);
    box-shadow: 0 0 20px 0 #3B7E20CC;
}

.blue {
    background: linear-gradient(hsl(186, 76%, 16%), hsl(223, 90%, 60%), hsl(240, 56%, 42%));
    box-shadow: 0 0 20px 0 hsla(223,59%,31%,0.8);
}
