/* background-image:规定元素的一幅或多幅背景图像。 */
/* font-family 规定元素的字体系列 ，font-family："firstname,lastname" lastname是在第一个字体不生效备用的*/
/* padding表示内边距，4个值依次是 上 右 下 左 （理解为顺时针），2个值为上下和左右，1个值时4个方向等距*/
body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  /* font-size 表示字体大小 */
  /* margin-top 表示上外边距 */
  /* margin-bottom 表示下外边距 */
  /* margin使用方式与padding同理 */
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  /* font-style 属性定义字体的风格。值：normal默认的标准字体，italic斜体的字体样式，oblique也是斜体样式，inherit继承父元素字体*/
  .established {
    font-style: italic;
  }
  /* text-align 属性规定元素中的文本的水平对齐方式 。值：left 左对齐，right 右对齐，center 居中，justify 两端对齐，inherit 继承父元素的值*/
  h1, h2, p {
    text-align: center;
  }
  /* width 属性设置元素的宽度*/
  /* background-color 属性设置元素的背景颜色*/
  /* max-width 定义元素的最大宽度*/
  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  /* display 属性规定元素应该生成的框的类型*/
  /* display的值：
  1.none —— 元素不会显示
  2.block —— 元素显示为块级元素，带有换行符
  3.inline —— 默认的值。元素会被显示为内联元素，元素前后没有换行符
  4.inline-block —— 行内块元素
  5.list-item —— 元素作为列表显示
  6.run-in —— 根据上下文，作为块级元素或内联元素显示
  7.table —— 作为块级表格来显示，表格前后带有换行符。（类似 <table>）
  8.inline-table —— 作为内联表格来显示，表格前后没有换行符。（类似 <table>）
  9.table-row-group —— 作为一个或多个行的分组来显示（类似 <tbody>）
  10.table-header-group —— 作为一个或多个行的分组来显示（类似 <thead>）
  11.table-footer-group —— 作为一个或多个行的分组来显示（类似 <tfoot>）
  12.table-row —— 作为一个表格行显示（类似 <tr>）
  13.table-column-group —— 作为一个或多个列的分组来显示（类似 <colgroup>）
  14.table-column —— 作为一个单元格列显示（类似 <col>）
  15.table-cell —— 作为一个表格单元格显示（类似 <td> 和 <th>）
  16.table-caption —— 作为一个表格标题显示（类似 <caption>）
  17.inherit —— 从父元素继承 display 属性的值

  内联元素和块元素区别
  一、显示方式不同
  1、块级元素：是块元素都从新行开始，相邻的块级元素将会在不同行显示。

  2、内联元素：一个挨着一个，都在同一行按从左至右的顺序显示，不单独占一行。

  二、高度不同

  1、块级元素：高度，行高以及外边距和内边距都可控制，以容纳内联元素和其他块元素。

  2、内联元素：高度、行高和顶以及底边距都不可改变。

  三、宽度设置不同

  1、块级元素：宽度缺省是它的容器的100%，除非设定一个宽度。

  2、内联元素：宽度就是它的文字或图片的宽度，不可改变。

  四、举例

  1.块级元素在浏览器显示时，通常会以新行来开始（和结束）
  例如：
  <h1>, <p>, <ul>, <table>，<div>

  2.内联元素在显示时通常不会以新行开始
  例如：
  <b>, <td>, <a>, <img>，<span>

  */
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-25px;
  }
  /* 元素的高度*/
  /* border-color 属性设置四条边框的颜色
  dashed是由多个短横线组成的虚线，dotted是由多个点组成的虚线
  4个值时，是上、右、下、左
  3个值时，是上、右、下
  2个值时，是上下和左右
  1个值是边框同色
  */
  hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  /* color 属性规定文本的颜色*/
  a {
    color: black;
  }
  /* :visited 选择所有已访问的链接*/
  a:visited {
    color: black;
  }
  /* :hover 选择鼠标指针位于其上的链接*/
  a:hover {
    color: brown;
  }
  /* :active 选择活动链接*/
  a:active {
    color: brown;
  }

/*
引入第三方字体
@font-face {
  font-family:'自定义字体名';
  src:url('字体引入路径');
}
p {
font-family:'自定义字体名';
}
*/
