/*
1.overflow 规定如果内容溢出元素框会发生什么情况。
值：
visible	默认值。内容不会被修剪，会呈现在元素框之外。
hidden	内容会被修剪，并且其余内容是不可见的。
scroll	内容会被修剪，但是浏览器会显示滚动条以便查看其余的内容。
auto	如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容。
inherit	规定应该从父元素继承 overflow 属性的值。

2.filter 定义元素（通常是 <img>）的视觉效果（如模糊和饱和度）
值：
blur(px)           对图像应用模糊效果。较大的值将产生更多的模糊。
brightness(%)      调整图像的亮度。"0%”是全黑，"100%"是原始，比100%会更亮
contrast(%)        调整图像的对比度。0％ 将使图像完全变黑。100％代表原始图像。超过 100％ 的值将提供更具对比度的结果
drop-shadow(h-shadow v-shadow blur spread color)  对图像应用阴影效果
grayscale(%)       将图像转换为灰阶。0% (0) 是默认值，代表原始图像。100％ 将使图像完全变灰（用于黑白图像）。注释：不允许负值。
hue-rotate(deg)    在图像上应用色相旋转。该值定义色环的度数。默认值为 0deg，代表原始图像。注释：最大值是 360deg。
invert(%)          反转图像中的样本。0% (0) 是默认值，代表原始图像。100％将使图像完全反转。注释：不允许负值。
opacity(%)         设置图像的不透明度级别。opacity-level 描述了透明度级别，其中：0% 为完全透明。100% (1) 是默认值，代表原始图像（不透明）。注释：不允许负值。
saturate(%)        设置图像的饱和度。0%是完全不饱和，100%是默认，大于100%就过于饱和
sepia(%)           将图像转换为棕褐色。0%是原始图像，100%变成棕褐色。不允许负值
url()              url() 函数接受规定 SVG 滤镜的 XML 文件的位置，并且可以包含指向特定滤镜元素的锚点。实例：filter: url(svg-url#element-id)
initial            默认值
inherit            继承父元素

*/
.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;
  overflow: hidden;
  filter: blur(2px);
}

.frame {
  border: 50px solid black;
  width: 500px;
  padding: 50px;
  margin: 20px auto;
}

/*
transform 属性向元素应用 2D 或 3D 转换
none                                              定义不进行转换。
matrix(n,n,n,n,n,n)                               定义 2D 转换，使用六个值的矩阵。 
matrix3d(n,n,n,n,n,n,n,n,n,n,n,n,n,n,n,n)         定义 3D 转换，使用 16 个值的 4x4 矩阵。  
translate(x,y)                                    定义 2D 转换。 
translate3d(x,y,z)                                定义 3D 转换。  
translateX(x)                                     定义转换，只是用 X 轴的值。 
translateY(y)                                     定义转换，只是用 Y 轴的值。 
translateZ(z)                                     定义 3D 转换，只是用 Z 轴的值。  
scale(x,y)                                        定义 2D 缩放转换。
scale3d(x,y,z)                                    定义 3D 缩放转换。  
scaleX(x)                                         通过设置 X 轴的值来定义缩放转换。 
scaleY(y)                                         通过设置 Y 轴的值来定义缩放转换。 
scaleZ(z)                                         通过设置 Z 轴的值来定义 3D 缩放转换。  
rotate(angle)                                     定义 2D 旋转，在参数中规定角度。 
rotate3d(x,y,z,angle)                             定义 3D 旋转。  
rotateX(angle)                                    定义沿着 X 轴的 3D 旋转。 
rotateY(angle)                                    定义沿着 Y 轴的 3D 旋转。 
rotateZ(angle)                                    定义沿着 Z 轴的 3D 旋转。 
skew(x-angle,y-angle)                             定义沿着 X 和 Y 轴的 2D 倾斜转换。 
skewX(angle)                                      定义沿着 X 轴的 2D 倾斜转换。 
skewY(angle)                                      定义沿着 Y 轴的 2D 倾斜转换。 
perspective(n)                                    为 3D 转换元素定义透视视图。 

*/
.one {
  width: 425px;
  height: 150px;
  background-color: #efb762;
  margin: 20px auto;
  box-shadow: 0 0 3px 3px #efb762;
  border-radius: 9px;
  transform: rotate(-0.6deg);
}

/*
border-radius 圆角边框
四个值: 第一个值为左上角，第二个值为右上角，第三个值为右下角，第四个值为左下角。
三个值: 第一个值为左上角, 第二个值为右上角和左下角，第三个值为右下角
两个值: 第一个值为左上角与右下角，第二个值为右上角与左下角
一个值： 四个圆角值相同
*/
.two {
  width: 475px;
  height: 200px;
  background-color: #8f0401;
  margin: 0 auto 20px;
  box-shadow: 0 0 3px 3px #8f0401;
  border-radius: 8px 10px;
  transform: rotate(0.4deg);
}

.one,
.two {
  filter: blur(1px);
}

.three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px);
  box-shadow: 0 0 5px 5px #b20403;
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}
